.heroSection {
  overflow: hidden;
  padding-bottom: 22rem;
  padding-top: 22rem;
}
@media (max-width: 1200px) {
  .heroSection {
    padding-bottom: calc(var(--gap-12) + var(--nav-height));
    padding-top: calc(var(--gap-12) + var(--nav-height));
  }
}
@media (min-width: 1200px) {
  .wrapper .hero-content {
    left: 10rem;
  }
}
.heroSection h1 {
  left: -0.7rem;
  margin-top: 3rem;
  z-index: 1;
}
@media (max-width: 1000px) {
  .heroSection h1 {
    margin-top: 2rem;
  }
}
@media (max-width: 800px) {
  .heroSection h1 {
    left: 0;
  }
}
@media (max-width: 600px) {
  .heroSection h1 {
    margin-top: 1rem;
  }
}
.heroSection h1 .line:last-child {
  left: 43.3rem;
  position: relative;
}
@media (max-width: 1050px) {
  .heroSection h1 .line:last-child {
    left: 33.3rem;
  }
}
@media (max-width: 800px) {
  .heroSection h1 .line:last-child {
    left: 23.3rem;
  }
}
@media (max-width: 600px) {
  .heroSection h1 .line:last-child {
    left: 38.3vw;
  }
}
