.hero {
  background-color: var(--white);
  overflow: hidden;
  padding-bottom: 22rem;
  padding-top: 22rem;
}
@media (max-width: 1200px) {
  .hero {
    padding-bottom: calc(var(--gap-12) + var(--nav-height));
    padding-top: calc(var(--gap-12) + var(--nav-height));
  }
}
