.work-group .work-card:nth-child(3),
.work-group .work-card:nth-child(4) {
  align-self: flex-start;
  margin-top: var(--gap-12);
}
@media (max-width: 800px) {
  #work .work-group .work-card:nth-child(2),
  #work .work-group .work-card:nth-child(3),
  #work .work-group .work-card:nth-child(4) {
    margin-top: var(--gap-12);
  }
}
@media (max-width: 768px) {
  .work-group .work-card:nth-child(3),
  .work-group .work-card:nth-child(4) {
    margin-top: 0px;
  }
}
