@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700;800&display=swap");
:root {
  --off-white: #f7f8fb;
  --white: #fff;
  --black: #111;
  --dark-gray: #555;
  --border: #ddd;
  --light-font: 400;
  --bold-font: 500;
  --body: 2rem;
  --h1: 12rem;
  --h2: 7.2rem;
  --h3: 3.2rem;
  --h4: 2.4rem;
  --gap-12: 12rem;
  --gap-6: 6rem;
  --gap-4: 4rem;
  --gap-3: 3rem;
  --nav-height: 10rem;
  --main-font: Poppins;
  --nav-height: 10rem;
}
@media (max-width: 1050px) {
  :root {
    --h1: 9rem;
    --h2: 6.4rem;
    --h3: 3.2rem;
    --gap-12: 10rem;
    --gap-6: 5rem;
    --gap-4: 3rem;
    --gap-3: 2.5rem;
  }
}
@media (max-width: 800px) {
  :root {
    --h1: 7.2rem;
    --h2: 5.6rem;
    --h3: 3rem;
    --gap-12: 9rem;
    --gap-6: 4.5rem;
    --gap-4: 2.8rem;
    --gap-3: 2rem;
  }
}
@media (max-width: 600px) {
  :root {
    --nav-height: 8rem;
    --body: 1.9rem;
    --h1: 12vw;
    --h2: 4.2rem;
    --h3: 2.5rem;
    --h4: 2.2rem;
    --ico-dimension: 7rem;
    --gap-12: 8rem;
    --gap-6: 4rem;
    --gap-4: 2.4rem;
    --gap-3: 2rem;
  }
}
*,
:after,
:before {
  box-sizing: inherit;
  margin: 0;
  outline: none;
  padding: 0;
}
user agent stylesheet div {
  display: block;
}
style attribute {
  transform: matrix3d(1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1);
  opacity: 1;
  pointer-events: all;
}
html {
  -webkit-tap-highlight-color: transparent;
  font-size: 62.5%;
}
body {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  box-sizing: border-box;
  font-size: var(--body);
  font-family: var(--main-font), sans-serif;
}
h1,
.h1 {
  font-size: var(--h1);
  letter-spacing: -3.5px;
  line-height: calc(var(--h1) * 1.07);
  font-weight: 400;
}
h2,
.h2 {
  font-size: var(--h2);
  letter-spacing: -2px;
  line-height: calc(var(--h2) * 1.07);
  font-weight: 400;
}
h2 .line,
.h2 .line {
  display: block;
  height: calc(var(--h2) * 1.2);
  overflow: hidden;
}
h2 .line:nth-child(2),
.h2 .line:nth-child(2) {
  left: 7rem;
  position: relative;
  top: -1rem;
  z-index: -1;
}
@media (max-width: 800px) {
  /* #work h2 {
    flex-direction: row;
    flex-wrap: wrap;
    position: static;
    width: 100%;
    align-items: center;
  } */
  #work h2 .line:nth-child(2) {
    left: 0;
    top: 0;
    z-index: 0;
  }
}
h3,
.h3 {
  font-size: var(--h3);
  font-weight: 400;
  line-height: 40px;
  letter-spacing: -0.02em;
}
h4,
.h4 {
  font-size: var(--h4);
  font-weight: var(--light-font);
  line-height: 32px;
  letter-spacing: -0.015em;
}
a,
h5 {
  font-size: 1.6rem;
}
a {
  font-weight: var(--bold-font);
  text-decoration: none;
  transition: 0.2s ease-out;
}
a.button {
  align-items: center;
  background-color: var(--black);
  border-radius: 10rem;
  color: var(--white);
  display: inline-flex;
  height: 15rem;
  justify-content: center;
  padding: 1rem;
  text-align: center;
  width: 15rem;
}
a.button:hover {
  color: orange;
  -webkit-transform: rotate(-20deg);
  transform: rotate(-20deg);
}
.line {
  display: block;
  height: calc(var(--h1) * 1.2);
  overflow: hidden;
}
.link {
  color: rgb(214, 214, 214);
}
.link:hover {
  color: rgb(236, 236, 236);
}
.navbar .main-menu li {
  cursor: pointer;
  font-size: 1.6rem;
  font-weight: var(--light-font);
  margin-left: 4rem;
  transition: 0.2s ease-out;
}
.navbar .mobile-menu ul li {
  padding: 0rem 1rem;
}
